[alias]
	a = add
	co = checkout
	cob = checkout -b
	br = branch
	ci = commit
	st = status
	bva = branch -va
	last = log -1
	head = log -5
	lg = log
	dot = add .
	sw = switch
	psuh = push
	dif = diff
	cdiff = diff --check
	sdiff = diff --staged
	wt = worktree
	out = log --oneline @{u}..
[user]
	name = Timothy Willard
	email = 9395586+TimothyWillard@users.noreply.github.com
[pull]
	ff = only
[diff]
	algorithm = histogram
[commit]
	gpgsign = true
[gpg]
	program = gpg
[includeIf "gitdir:~/"]
	path = ~/.gitconfig-local
