[alias]
	# Shorthand/SVN
	a = add
	br = branch
	bva = branch -va
	ci = commit
	co = checkout
	cob = checkout -b
	dot = add .
	lg = log
	rb = rebase
	st = status
	sw = switch
	swc = switch -c
	wt = worktree
	# Log related
	head = log -5
	last = log -1
	logo = log --oneline
	out = log --oneline @{u}..
	# Typos
	psuh = push
	dif = diff
	# Diff related
	cdiff = diff --check
	sdiff = diff --staged
[user]
	name = Timothy Willard
	email = 9395586+TimothyWillard@users.noreply.github.com
[pull]
	ff = only
[diff]
	algorithm = histogram
[commit]
	gpgsign = true
[gpg]
	program = gpg
[includeIf "gitdir:~/"]
	path = ~/.gitconfig-local
