"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[aliases]
head = [
    "log",
    "--revisions",
    "ancestors(@, 5) | @::",
]
n = [
    "edit",
    "@+",
]
p = [
    "edit",
    "@-",
]
rb = [
    "rebase",
]
s = [
    "status",
]
bl = [
    "bookmark",
    "list",
]
bla = [
    "bookmark",
    "list",
    "--all",
]
d = [
    "show",
    "--no-patch",
    "--template",
    "description",
]
gf = [
    "git",
    "fetch",
]

[user]
name = "Timothy Willard"
email = "9395586+TimothyWillard@users.noreply.github.com"

[ui]
editor = "vim"

[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/id_ed25519_git_signed_commits.pub"
